<!DOCTYPE html>
{% load staticfiles %}
{% include 'header.html' %}

<body>


    <table class="table table-hover table-striped" >
    <thead>
    <tr>
        <th>Username</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Address</th>
        <th>Modify</th>
    </tr>
</thead>

        <tr>
        <td>{{ username }}</td>
        <td>{{ firstname}}</td>
        <td>{{ lastname }}</td>
        <td>{{ mobile}}</td>
        <td>{{ email }}</td>
        <td>{{ address }}</td>
        <td><a href="../Edit/">Edit</a> | <a href="../Delete/" onClick="return confirm('Are you sure you want to delete?')">Delete</a></td>
        </tr>

    </table>
</body>

{% include 'footer.html' %}